<div class="modal opacity-0 pointer-events-none"
data-modal-class="<%= modal_class %>">
<div class="modal-overlay js-modal-overlay"></div>
<div class="modal-container">
<div class="js-modal-close close-top-left">
  <%= evil_icon "ei-close" %>
  <span class="text-sm">(Esc)</span>
</div>
</div>
</div>
